extends layout

block content
  .w3-container
    h1 Gestão de Alunos
    ul.w3-ul
      li  
        a(href="http://localhost:3005/filmes") Listar Filmes
      li  
        a(href="http://localhost:3005/filmes/inserir") Inserir Filme