extends layout

block content
    .w3-container
        h1 Procurar um filme
            label id:
            input.w3-input(type="text" name="_id")
            input.w3-input(type="submit" value="Procurar")