extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Adicionar Aluno
            .w3-container
                form.w3-container(action='/alunos' method='POST')
                    label
                        b Nome
                    input.w3-input.w3-border.w3-light-grey(type='text' name='nome')
                    label 
                        b Curso 
                    input.w3-input.w3-border.w3-light-grey(type='text' name='curso')
                    input(type="text" name='notas')
                    input.w3-btn.w3-blue-grey(type='submit' value='Enviar')
        .w3-card-4
        .w3-card-4
            header.w3-container.w3-teal
                h3 Informações de Alunos
            table.w3-table-all
                tr
                    th Nome
                    th Curso
                    th Ações
                each i in lista
                    tr
                        td= i.nome
                        td= i.curso
                        td 
                            a(href="/alunos/"+i.id)
                                button.w3-margin-right.w3-button.w3-circle.w3-blue-grey Info
                            button.w3-button.w3-circle.w3-blue-grey(onclick="apagaItem('" + i.id + "')") Apagar
        .w3-card-4
        footer.w3-container.w3-teal
            address Gerado por Tiago
                

